%h1 Gallery of user pictures

.row
  .new-pictures{ class: "col-lg-12 col-md-12 col-sm-12 col-xs-12" }
    %p= 'No pictures yet' if @pictures.blank?
    %p= link_to('add new picture', new_user_picture_path(current_user))

.row
  - @pictures.each do |picture|
    .user-picture{ class: "col-lg-2 col-md-3 col-sm-4 col-xs-6" }
      %b= picture.title.presence || 'no title'
      %p= image_tag(picture.image.url(:thumb), class: 'rounded')
      %p= picture.created_at.strftime('on %d/%m/%Y')
